@import '../../styles/style.scss';

// Header
header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 30px;
}
// Logo
.logo-container {
    // font-weight: bold;
}
//ProfileWidget
.profile-container {
    width: 50px;
    height: 50px;
    position: relative;
    .profile-img {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 55%;
        cursor: pointer;
    }
}

// ProfileDialog
dialog {
    width: 200px;
    height: 300px;
    position: absolute;
    left: -160px;
    top: 55px;
    border-radius: 10px;
    background: #fff;
    padding: 15px;
    color: black;
    .dialog-topbar {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }
}
.profile-xmark {
    color: gray;
    cursor: pointer;
}
.user-profile-container {
    width: 130px;
    height: 130px;

    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 80px;
        height: 80px;
        border: 1px solid black;
        border-radius: 40px;
    }
    .name {
        display: flex;
        align-items: center;
        .profile-modify {
            cursor: pointer;
            font-size: 14px;
            color: gray;
            margin-left: 5px;
        }
    }
}
.user-option-container {
    margin: 0 auto;
    width: 100px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
