@import '../../styles/style.scss';

.description {
    font-size: large;
    font-weight: 500;
    margin-bottom: 20px;
}

#make-video {
    margin: 200px 0px 200px 0px;
    width: 100%;
    text-align: center;

    .button.makevideo {
        border-radius: 5px;
        margin: 30px 5px 5px 5px;
        background-color: $kbo-darkblue;
        color: $kbo-lightgray;
    }
}

#input-player {
    margin: 200px 0px 100px 0px;
    width: 100%;
    height: 100%;
    text-align: center;

    .button.next {
        border-radius: 5px;
        margin: 30px 5px 5px 5px;
        background-color: $kbo-skyblue;
        color: $kbo-lightgray;
    }

    .button.previous {
        border-radius: 5px;
        margin: 30px 5px 5px 5px;
        background-color: $gray;
        color: white;
    }
}

#upload-video {
    margin: 200px 0px 100px 0px;
    width: 100%;
    height: 100%;
    text-align: center;

    .buttons {
        margin: 100px 20px 5px 20px;
        display: flex;
        justify-content: space-between;

        .button.uploadvideo {
            border-radius: 5px;
            background-color: $kbo-darkblue;
            color: $kbo-lightgray;
        }

        .button.previous {
            border-radius: 5px;
            background-color: $gray;
            color: white;
        }
    }

    #input-video-box {
        margin-top: 30px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .input-tag-label {
        padding: 6px 25px;
        border-radius: 4px;
        color: $kbo-darkblue;
        font-size: medium;
        cursor: pointer;
    }
}

#percentage {
    margin-top: 200px;
    text-align: center;

    .button.goHighlight {
        border-radius: 5px;
        margin: 30px 5px 5px 5px;
        background-color: $kbo-darkblue;
        color: $kbo-lightgray;
    }
}

.progressbar {
    z-index: 100;
    border-style: solid;
    border-color: black;
    border-width: 0.2rem;
    height: 1.5rem;
    width: 18rem;
    margin-top: 0.95rem;
    display: none;

    .progressbar-move {
        background-color: red;
        width: 0%;
        /* Adjust with JavaScript */
        height: 1.6rem;
    }
}

// .errorCount {
//     color: red;
// }
