@import '../../styles/style.scss';
@keyframes blink-effect {
    50% {
        opacity: 50%;
        text-shadow: 0 0 0;
        box-shadow: 0 0 0 0;
    }
}
//VideoResultPage
.highlight-container {
    width: 100%;
}
.videoResult-container {
    width: 100%;
    // height: 100%;
    background-color: $kbo_lightgray;
}

.video-navBar {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 15px;
    // margin-top: 120px;
    justify-content: space-evenly;
    a {
        margin: 0 auto;
        font-weight: 700;
        color: gray;
    }
    position: sticky;
    top: 50px;
    z-index: 99;
    border-bottom: 1px solid #f3f3f3;
}

//PlayerHighlights
.player-video-card {
    width: 100%;
    margin: 10px 0;
    height: auto;
    background-color: white;
    padding: 10px 15px;
    h1 {
        font-weight: 700;
    }
}
.video-slider {
    width: 100%;
    height: auto;
}
