@import '../../styles/style.scss';

.main-navBar {
    width: 100%;
    height: 50px;
    background-color: $kbo_darkblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
}