@import '../../styles/style.scss';

#main {
    // background-color: $gray;
    width: 100%;
    height: 100%;
}

#main-components {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .text-box {
        margin: 20px;
    }

    .image-box {
        margin: 20px;
        // animation: fadein 3s;
    }

    .button.highlight {
        margin: 15px 20px 0px 20px;
        border-radius: 10px;
        width: 90%;
        height: 65px;
        background-color: $kbo_skyblue;
        color: $kbo_lightgray;
    }

    // .button.myPage {
    //     margin: 15px 20px 0px 20px;
    //     border-radius: 10px;
    //     width: 90%;
    //     height: 65px;
    //     background-color: $kbo_skyblue;
    //     color: $kbo_lightgray;
    // }

    .button.more {
        margin: 10px 20px 10px 20px;
        border-radius: 10px;
        width: 90%;
        height: 45px;
        background-color: $kbo_skyblue;
        color: $kbo_lightgray;
        text-align: center;
    }

    .profileBox {
        display: flex;
        justify-content: center;
        margin: 20px 10px 20px 10px;
        width: 95%;
        height: 20%;
        // border: 4px solid $kbo_darkblue;
        border-radius: 5px;
        background-color: white;

        .profileBox-photo {
            margin: 10px;
            width: 30%;
            height: 85%;
            border: 3px solid;
            text-align: center;
        }
    }
}

.fade-in {
    opacity: 1;
    animation: fadeIn ease-in-out 1s;
}

.fade-out {
    opacity: 0;
    animation: fadeOut ease-in-out 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
